h1 {
  text-align: center;
}

#search-container {
  margin: 50px auto;
  width: 300px;
}

#search-input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#search-btn {
  width: 100%;
  padding: 14px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
}

#weather-info {
  margin: 50px auto;
  width: 300px;
  text-align: left;
}